@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
}

@media print {
  .no-print {
    display: none !important;
  }
  body, #root {
    height: auto;
    overflow: visible !important;
  }
}
